:root{
    --tea-green: #CCD5AE;
    --beige: #E9EDC9;
    --claret: #820933;
    --papaya-whip: #FAEDCD;
    --walnut-brown: #64594E;
    --mantis: #7ABA6B;
    --cosmic-latte: #FFF7E4;
    --dark-cyan: #2C8B87;
    --pistachio: #91D464;
    --dogwood-rose: #C83166;
}

body{
    width:100vw;
    height:100vh;
    overflow: hidden;

    background-color: var(--papaya-whip);

    font-family: "lato", open-sans;
    color: var(--walnut-brown);
}

#canvas-container{
    height: 66vh;
    overflow: hidden;

    transition: transform ease-in-out .5s;

    border-bottom: var(--walnut-brown) 1px dashed;
}

#content-container{
    border-top: var(--walnut-brown) 1px dashed;

    background-color: var(--papaya-whip);
    height: 67vh;
    overflow: hidden;

    transition: transform ease-in-out .5s;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.up{
    transform: translateY(-33vh);
}


canvas{
    background-color: var(--cosmic-latte);
}

#question {
    font-size: 2.5em;
    margin: 25px;

    text-align: center;
}

#entree {
    background-color: var(--cosmic-latte);
    border: var(--walnut-brown) 1px solid;
    color: var(--walnut-brown);
    padding: 6px;
    margin-top: 20px;
    font-size: 1.5em;
}
  
#entree:focus{
    outline: none;
}

.validate-button {
    padding: 15px 400px;
    margin-bottom: 10px;
    color: var(--walnut-brown);
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;

    background-color: transparent;

    position: absolute;
    bottom: 0;
}

.validate-button {
    border: 1px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.validate-button::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 0%;
    height: 2px;
    background: var(--walnut-brown);
    box-shadow: inset 0px 0px 0px var(--walnut-brown);
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.validate-button:hover::before {
  width: 100%;
}
.validate-button::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 0%;
    height: 2px;
    background: var(--walnut-brown);
    -webkit-transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
    transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
}

/*OK*/
.validate-button:hover::after {
    width: 100%;
}

/*OK*/
.validate-button:hover {
    border-left: 2px solid var(--walnut-brown);
    border-right: 2px solid var(--walnut-brown);
    color: var(--walnut-brown);
}


#entree {
  background-color: var(--cosmic-latte);
  border: var(--walnut-brown) 1px solid;
  color: var(--walnut-brown);
  padding: 6px;
  margin-top: 20px;
  font-size: 1.5em;
}

#entree:focus #noButton:focus #yesButton:focus{
  outline: none;
}

#yesno-buttons {
  display: flex;

}

#yesButton {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--mantis);
  border-radius: 6px;
  color: var(--cosmic-latte);
  border-style: none;
}

#noButton { 
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--claret);
  border-radius: 6px;
  color: var(--cosmic-latte);
  border-style: none;
}

#yesButton:hover{
  background-color: var(--pistachio);
}

#noButton:hover{
  background-color: var(--dogwood-rose);
}

.yes-button-activated{
    background-color: var(--pistachio)!important;
    box-shadow: inset var(--mantis) 0px 0px 10px;
}

.no-button-activated{
    background-color: var(--dogwood-rose)!important;
    box-shadow: inset var(--claret) 0px 0px 10px;
}